div.footer
  a.back-to-top(href="#")
    i.fa.fa-arrow-up
  .footer__logo
    img(src='/img/logo-green.png' alt='Natours Logo')
  ul.footer__nav  
    li: a(href='#') About Us
    li: a(href='#') Download apps
    li: a(href='#') Become a guide 
    li: a(href='#') Careers
    li: a(href='#') Contact 
  p.footer__copyright &copy; by Jiayao Wang. All rights reserved.
