extends base

block content
  section.section-review
    .container
      h2 Leave a Review
      form#reviewForm.form(method="POST")
        input(type="hidden" name="tour" value=tour._id)
        input(type="hidden" name="user" value=user._id)

        .form__group
          label(for="review") Your Review:
          textarea.form__input(name="review" rows="5")

        .form__group
          label(for="rating") Rating (1~5):
          input.form__input(type="number" name="rating" min="1" max="5")

        button.btn.btn--green(type="submit") Submit Review

